* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  font: 62.5%;
  font-size: 1.3rem;
  font-family: Raleway;
}
#wrapper {
  width: 66.6%;
  border: 5px solid goldenrod;
  margin: 0 auto;
}


