//import mixin file
@import './mixins';

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 178, 237, 0) 0%, #00b2ed 100%);
}
.form {
  @include display();
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100vh;
  width: 950px;
  color: #00b2ed;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  p {
    border: 1px solid black;
    height: 60px;
    width: 410px;
    border-radius: 10px;
    margin: 20px;
  }

  .save_confirm_button {
    @include save_confirm_button();
  }
  .cancel_button2 {
    @include cancel_button2();
  }
}

.city_zip_container {
  display: flex;
  justify-content: space-between;
  width: 219px;
}
