.landingContainer {
	width: 1440px;
	margin: auto;
}
.landingInfo {
	display: flex;
	flex-direction: column;
}
.heroContainer {
	height: 808px;
	background-image: url('../../assets/landing/images/hero-banner.png');
	background-repeat: no-repeat;
}
.hero-banner {
	flex: 1;
	width: 1238px;
}
.hero-banner img {
	flex: 1;
	width: 100%;
}
.landingInfo {
	width: 483px;
	height: 369px;

	/* or 62px */
	display: flex;

	margin-left: 70px;
	margin-top: 140px;
	align-items: center;
	color: #fef2e4;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 155%;
}
.button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.vendorButton {
	width: 302px;
	height: 57px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 193.5%;
	color: #fef2e4;
	background-color: #e92324;
	flex: 1;
	align-self: center;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 20px;
}
.customerButton {
	width: 302px;
	height: 57px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 193.5%;
	color: #e92324;
	border: 1px solid red;
	flex: 1;
	align-self: center;
	text-align: center;
	border-radius: 8px;
}

.marketing-Container {
}
.marketing-Header {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 170.5%;
	width: 100%;
	text-align: center;
	color: #00b2ed;
	margin-top: 40px;
	margin-bottom: 40px;
	flex: 1;
	justify-content: center;
}
.marketing-Box {
	width: 1280px;
	height: 704px;
	flex: 1;
	background-color: #00b2ed;
	display: flex;
	margin: auto;
	padding: 40px;
}

.marketing-featured-Container {
	width: 361.31px;
	height: 567px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display: flex;
	margin-right: 40px;
}
.marketing-featured-Image {
	display: flex;
}
.marketing-featured-Image image {
	width: 100%;
	height: 567px;

	display: flex;
}

.marketing-featured-Image p {
	width: 246px;
	height: 111px;
	position: bottom;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 166.36%;
	/* or 30px */

	align-items: center;
	text-align: center;

	color: #ffffff;

	border-radius: 5px;
}
.marketing-right-Box {
	width: 880px;
	height: 567px;
}
.marketing-right-Box-Toprow {
	width: 100%;
	height: 141px;
	display: flex;
}
.marketing-right-Box-Toprow-left {
	width: 299.39px;
	height: 141px;
}
.marketing-right-Box-Toprow-left p {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 166.86%;
	/* or 50px */

	display: flex;
	align-items: center;

	color: #ffffff;
}
.marketing-right-Box-Toprow-right {
	width: 321.49px;
	height: 114px;
}
.marketing-right-Box-Toprow-right p {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 185.86%;
	/* or 26px */

	display: flex;
	align-items: center;

	color: #ffffff;
}
.marketing-right-Box-Toprow-right-btn {
	width: 161.96px;
	height: 43px;
	left: 925.15px;
	top: 1230px;
	border-radius: 5px;
}
.marketing-right-Box-Toprow-right-btn p {
	width: 98.77px;
	height: 23px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 193.5%;
	/* or 27px */
	align-items: center;
	display: flex;
	margin: auto;

	color: #ffffff;

	border-radius: 5px;
}
.marketing-right-Box-BottomRow {
	display: flex;
}
.marketing-right-Box-BottomRow-features {
	width: 246.84px;
	height: 360px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display: flex;
}
.marketing-right-Box-BottomRow-features p {
	width: 200.06px;
	height: 53px;
	bottom: 0;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 166.36%;
	/* or 23px */
	flex: 1;
	justify-content: 'flex-end';

	justify-self: center;
	align-items: center;
	text-align: center;

	color: #ffffff;
}
.marketing-right-Box-BottomRow-featured-image {
	display: flex;
}
.works-container {
	padding: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.works-card-wrapper {
	width: 411px;
	height: 615px;
}
.works-image {
	width: 411px;
}
.works-content {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 166.36%;
	/* or 40px */
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	height: 258px;
}
.carousel-container {
	width: 1305px;
}
