.landingContainer {
	width: 1440px;
	margin: auto;
}
.landingInfo {
	display: flex;
	flex-direction: column;
}
.heroContainer {
	height: 808px;
	background-image: url('../../assets/landing/images/hero-banner.png');
	background-repeat: no-repeat;
}
.hero-banner {
	flex: 1;
	width: 1238px;
}
.hero-banner img {
	flex: 1;
	width: 100%;
}
.landingInfo {
	width: 483px;
	height: 369px;

	/* or 62px */
	display: flex;

	margin-left: 70px;
	margin-top: 140px;
	align-items: center;
	color: #fef2e4;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 155%;
}
.button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.vendorButton {
	width: 302px;
	height: 57px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 193.5%;
	color: #fef2e4;
	background-color: #e92324;
	flex: 1;
	align-self: center;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 20px;
}
.customerButton {
	width: 302px;
	height: 57px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 193.5%;
	color: #e92324;
	border: 1px solid red;
	flex: 1;
	align-self: center;
	text-align: center;
	border-radius: 8px;
}

.marketing-Container {
	width: 1280px;
	height: 704px;
	background-color: #00b2ed;
	margin: auto;
	padding: 40px;
	border-radius: 10px;
}
.marketing-box-top-row {
	flex: 1;
	flex-direction: row;
}
.marketing-box-top-row h1{
	color: #fff;
	font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 166.86%;
/* or 50px */
display: flex;
align-items: center;
border-radius: 5px;
}
.marketing-box-top-row-btn {
	width: 161px;
	height: 43px;
	background: #E92323;
	border-radius: 5px;
	text-align: center;
	flex: 1;
	color: #fff;
	align-items: center;
	font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 193.5%;
}
.marketing-box-bottom-row {
	flex: 1;
	flex-direction: row;
}
.marketing-Header {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 170.5%;
	width: 100%;
	text-align: center;
	color: #00b2ed;
	margin-top: 40px;
	margin-bottom: 40px;
	flex: 1;
	justify-content: center;
}


.works-container {
	padding: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.works-card-wrapper {
	width: 411px;
	height: 615px;
}
.works-image {
	width: 411px;
}
.works-content {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 166.36%;
	/* or 40px */
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	height: 258px;
}

/*********** TESTIMONIAL ***********/
.testimonial-container {
	padding: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.testimonial-card-wrapper {
	width: 399px;
	display: flex;
	flex-direction: column;
}
.testimonial-image {
	width: 399px;
}
.testimonial-content {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
	display: flex;
	padding-right: 10px;
	padding-left: 10px;
	flex-direction: column;
}
.testimonial-content p {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 166.36%;
	align-items: center;
	text-align: center;
	color: #000000;
	/* or 40px */
}
.testimonial-button {
	width: 169px;
	height: 40px;
	background-color: #21b787;
	border-radius: 10px;
	align-self: center;
	text-align:center;
	margin-bottom: 20px;
	color: #FFFFFF;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 193.5%;
}
.carousel-container {
	width: 1305px;
}
