@import './mixins.scss';

.container{
  background-color: white;
  border: 1px solid #888;
  border-radius: 10px;  
  padding:  3% 10% 5%;
  width: 70%;
  height: fit-content;
  left: 15%;
  position: absolute;
  display: flex;
  justify-content: space-between;

  .close_x{
    color: red;
    font-size: 3rem;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  .all_saved_modal{
   
    background-color: rgba($color: #fffefe, $alpha: 1.0);
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    top: 0;
    left: 0;
    h3{
     
      position: relative;
      top: 40%;
    }
    span{
      font-weight: bolder;
    }
     i{
        color: rgb(38,160,66);
      }
  }
  .confirm_close_modal{
   
    background-color: rgba($color: #fffefe, $alpha: 1.0);
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    text-align: center;
    top: 30%;
    left: 0;
    h3{
     
      position: relative;
      top: 40%;
    }
    
    span{
      font-weight: bolder;
    }
     i{
        color: rgb(220,53,69);
      }
  }
}

.inner_container{
  width: 45%;
  height: fit-content;
  background-color: pink;
  padding: 10px;  
}


/* ======= .edit_product_left =========== */
.edit_product_left{
  display: flex;
  flex-direction: column;
  /* ==== .left_uppper_container */
  .left_upper_container{
    display: flex;
    flex-wrap: wrap;
      // add_image_btns in ProductImageUploader.js
      .add_image_btns{
      //background-color: red;
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      position: relative;
      margin: 0 10px 10px 0;
      .product_image_placeholder{
        width: 150px;
        height: 150px;
        
      }
      .image_upload_icon{
        position: absolute;
        bottom: 0;
        right: 3px;
      }  
      
      }
      .images_container{
     display: flex;
     flex-wrap: wrap;
    .image_wrapper{
      position: relative;
      //background-color: green;
      width: fit-content;
      height: fit-content;
      margin-right: 10px;
      margin-bottom: 10px;
      i{
      color: red;
      font-size: 2rem;
      position: absolute;
      left: 90%;
      cursor: pointer;
      }    
    }
   } 
  
  } /* end .left_upper_container */
  /* ===== .btn_container ===== */
   .btn_container{
    //background-color: blue;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    @include phone{
      flex-direction: column;
    }
    @include lg{
      flex-direction: row;
    }
    button{
      width: fit-content;     
      margin-top: 20px;
      border-radius: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 5px;
     
    }
    .finished_editing_btn{
      border: 3px solid #21b7b7;
      background-color: #21b7b7;
      color: #fef2e4;
      cursor: pointer;
      &:hover{
        background-color: whitesmoke;
        color: #21b7b7;
      }
    }
    .delete_product_btn{
      border: 3px solid #e92323;
      color: #e92323;
      cursor: pointer;
      &:hover{
        background-color: #e92323;
        color: white;
      }
    }    
    } /* end .btn_container */    
} /* END .edit_product_left */
/* ===== edit_product_right ============== */
.edit_product_right{
  height: fit-content;
  position: relative;
  h4{
    cursor: pointer;
    color: rgb(253,126,20);
    font-weight: bolder;
    border: 1px solid grey;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
  }
  i{
    font-size: 2rem;
    cursor: pointer;
  }
  .details_saved_modal{
    background-color: rgba($color: #fffefe, $alpha: 1.0);
    display: block;
    //top: 25%;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    
    h3{
      position: relative;
      margin-top: 22%;
      
      i{
        color: rgb(38,160,66);
      }
    }



  }
  .details_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    //input wrapper details container EditProduct.js
    .input_wrapper{
    display: flex;
    flex-direction: column;
    margin:  2rem 0;
      label{
      font-size: 1.4rem;
      color: #2b3335; 
      }
      p{
      font-size: 1.8rem;
    }
      
  }
    
  }
  
  // input wrapper EditProductFrom.js
  .input_wrapper{
    display: flex;
    flex-direction: column;
    margin:  2rem 0;
      label{
      font-size: 1.4rem;
      color: #2b3335; 
      }
      input {
      border-radius: 10px;
      border: 1px solid rgba(43, 51, 53, 0.5);
      height: 32px;
      width: 214px;      
      font-size: 1.8rem;
      padding: 1% 0 1% 3%;
      }
  }

  

} /* end edit_product_right */


.vendor_product_btn_group button {
  width: 30%;
  height: 10%;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  padding: 1% 0;
}

.vendor_product_btn_group .cancel {
  border: 3px solid #e92323;
  color: #e92323;
  cursor: pointer;
}

.vendor_product_btn_group .cancel:hover {
  /* border: 3px solid white; */
  background-color: #e92323;
  color: white;
}

.vendor_product_btn_group .save {
  border: 3px solid #21b7b7;
  background-color: #21b7b7;
  color: #fef2e4;
  cursor: pointer;
}

.vendor_product_btn_group .save:hover {
  background-color: whitesmoke;
  color: #21b7b7;
}

