@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import './mixins.scss';

.container {
	@include phone {
		padding: 0px;
	}
	@include xl {
		width: 144rem;
		margin: 0 auto;
	}
}
.hero_container {
	@include phone {
	}
	@include xl {
		width: 100%;
		background-image: url('../../assets/images/landing/images/hero-banner.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
		min-height: 81rem;
	}
}
.info {
	@include phone {
	}
	@include xl {
		margin-top: 20rem;
		margin-left: 7.9rem;
		width: 43.7rem;
		h1 {
			font-family: Rubik;
			font-size: 4rem;
			color: #fef2e4;
		}
	}
}
.button_container {
	@include phone {
		display: none;
	}
	@include xl {
		margin-top: 6.4rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		display: block;
		width: 30.2rem;
	}
}

// ** HEADER ** //
.title_header {
	@include phone {
	}
	@include lg {
	}
	@include xl {
		color: $primary-color;
		font-size: 4.8rem;
		font-family: Rubik;
		text-align: center;
		margin-top: 10.4rem;
		margin-bottom: 8.2rem;
	}
}
// **** MARKETING CONTAINER **** //

.marketing_container {
	@include phone {
	}
	@include xl {
		background-color: $primary-color;
		margin: auto;
		width: 128rem;
		border-radius: 0.5rem;
	}
}
.marketing_wrapper {
	@include xl {
		padding: 2rem;
	}
}

.top_row {
	@include phone {
	}
	@include xl {
		padding: 1rem;
		h1 {
			font-size: 4rem;
			width: 51rem;
			color: white;
			font-family: Rubik;
			float: left;
		}
	}
}
.top__button {
	float: right;
}

// ***** WORKS STYLING ** //

.works_container {
	@include xl {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 4rem;
		flex-wrap: wrap;
		width: 128rem;
	}
}

.card_wrapper {
	@include phone {
	}
	@include xl {
		flex: 1;
		margin-right: 2.4rem;
		margin-bottom: 0px;
		width: 40.9rem;
	}
}
.works_image {
	@include xl {
		max-width: 100%;
	}
}
.works_image img {
	@include xl {
		width: 100%;
	}
}
.works_content {
	@include phone {
	}
	@include xl {
		background: #ffffff;
		align-items: center;
		text-align: center;
		color: #000000;
		flex-direction: column;
		box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
		flex: 1;
		height: 258px;
		p {
			padding: 4rem;
			font-size: 2.4rem;
		}
	}
}
// ** Gallery Container ** //

.gallery_container {
	width: 128rem;
	margin: 0 auto;
}
// **** CAROUSEL TOP *** //
.carousel_wrapper {
	@include xl {
		background-color: $primary-color;
		.slide {
			min-width: 100%;
			margin: 0;
			position: relative;
			text-align: center;
			background: transparent !important;
		}
	}
}
