//import mixin file
@import './mixins';
@import './custombutton.scss';
.container {
	@include display();
	font-family: Rubik;
	@include phone {
		background: url('../../assets/images/Login/login-phone.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100vw;
		padding-top: 1rem;
		height: 100vh;
	}
	@include xl {
		width: 144rem;
		margin: 0 auto;
		background: url('../../assets/images/Login/login.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		height: 100vh;
	}
}
.logo {
	@include phone {
		padding: 0rem;
		margin: 0rem;

		img {
			width: 100%;
		}
	}
	@include xl {
		display: none;
	}
}
.wrapper {
	@include phone {
		margin: 0 auto;
		width: 90vw;
		h1 {
			font-size: 2rem;
			margin: 0rem;
			color: $primary-color;
			text-align: center;
		}
		p {
			padding: 0px;
			color: $primary-color;
			font-size: 1.4rem;
			text-align: right;
		}
	}
	@include sm {
	}
	@include md {
	}
	@include lg {
	}
	@include xl {
		width: 60rem;
		padding: 4.4rem 4.4rem 0rem 4.4rem;
		margin: 0rem 0rem 3rem 0rem;

		h1 {
			font-size: 4rem;
			margin: 0rem;
			color: $primary-color;
			text-align: left;
			font-weight: 500;
		}
		p {
			padding: 0rem;
			color: $primary-color;
			font-size: 2rem;
			text-align: left;
			margin-top: 1.2rem;
		}
		a {
			color: $primary-color;
			text-decoration: underline;
			margin-left: 0.4rem;
		}
	}
}
.form {
	@include phone {
		label {
			color: black;
			font-size: 1.4rem;
		}
		a {
			color: $primary-color;
			margin-left: .5rem;
		}
		input {
			@include form_input();
			width: 100%;
			margin: 0px;
			font-size: 1.6rem;
		}
	}
	@include md {
		input {
			@include form_input();
			width: 100%;
		}
		.errorMessage {
			font-size: 0.8rem;
			color: red;
		}
	}
	@include lg {
		display: flex;
		flex-direction: column;
		width: 100%;
		flex-wrap: wrap;
		.form_wrapper {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		input {
			@include form_input();
			width: 100%;
		}
		label {
			color: black;
			font-size: 1.6rem;
		}
		.errorMessage {
			font-size: 1.2rem;
			color: red;
		}
		a {
			color: $primary-color;
		}
	}
	@include xl {
		padding: 0rem;
		margin-top: 3rem;
		margin-bottom: 3rem;
		.form_wrapper {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		label {
			font-size: 1.8rem;
		}

		a {
			color: $primary-color;
		}
		input {
			@include form_input();
			margin: 0px;
		}
		.errorMessage {
			margin-top: 1rem;
		}
	}
}
.button_wrapper {
	@include phone {
		margin-top: 2rem;
		height: 6rem;
	}
	@include xl {
		margin-top: 4.5rem;
		margin-bottom: 1rem;
	}
}
