@import './mixins.scss';
.container {
	@include phone {
	}
	@include xl {
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 2.4rem;
		display: flex;
		align-items: center;
		color: #fef2e4;
		padding-top: 2rem;
		padding-left: 8rem;
		padding-right: 8rem;
		padding-bottom: 2rem;
	}
}

.nav {
	@include phone {
	}
	@include xl {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
	}
}

.links {
	@include phone {
	}
	@include lg {
		list-style: none;
		display: flex;
	}
}

.item a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
}

.item:hover {
	background-color: white;
}

.item:hover a {
	color: #00b2ed;
}
