@import "./breakpoints.scss";

@mixin phone {
	@media (min-width: #{$screen-phone-min}) {
		@content;
	}
}
// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}
@mixin form_input {
	border: 0.2rem solid #00b2ed;
	border-radius: 1rem;
	padding: 1rem;
}

@mixin display {
	display: flex;
	flex-direction: column;
}
$primary-color: #00b2ed;
$green: #21b787;
$red: #e92323;
@mixin button-bg($bg) {
	background: $bg;

	&:hover {
		// apply when hover
		background: darken($bg, 8%);
		transition: all 0.3s ease;
	}
	&:focus {
		//removes outline when clicked (focused) on
		outline: none;
	}
}
