@import './mixins.scss';
@mixin profile_padding {
  padding-top: 6.7rem;
  padding-left: 18.9rem;
  padding-right: 18.9rem;
  padding-bottom: 10.4rem;
}
.container {
  @include xl {
    margin: 0 auto;
  }
}

// ***** BANNER STYLING ******
.banner_container {
  @include xl {
    background-color: $dry-ice;
  }
}

.banner_wrapper {
  @include xl {
    @include profile_padding();
    width: 144rem;
    margin: 0 auto;
    h1 {
      font-size: 3.6rem;
    }
  }
}
// ***** ABOUT STYLING **** //
.about_container {
  background-color: white;
  height: fit-content;
  .about_wrapper {
    //background-color: rgba($color: #80ff80, $alpha: 0.5);
    height: 100%;
    label {
      font-size: 1.4rem;
      color: #2b3335;
    }
    textarea {
      border-radius: 10px;
      border: 1px solid rgba(43, 51, 53, 0.5);
      height: 100px;
      width: 100%;
      font-size: 1.8rem;
      padding: 1% 0 1% 3%;
      -webkit-box-shadow: 0px 0px 12px 4px lightblue;
      -moz-box-shadow: 0px 0px 12px 4px lightblue;
      box-shadow: 0px 0px 12px 4px lightblue;
    }

    input {
      border-radius: 10px;
      border: 1px solid rgba(43, 51, 53, 0.5);
      height: 32px;
      width: 214px;
      font-size: 1.8rem;
      padding: 1% 0 1% 3%;
      -webkit-box-shadow: 0px 0px 12px 4px lightblue;
      -moz-box-shadow: 0px 0px 12px 4px lightblue;
      box-shadow: 0px 0px 12px 4px lightblue;
    }
    .input_wrapper {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      .checkbox_wrapper {
        -webkit-box-shadow: 0px 0px 12px 4px lightblue;
        -moz-box-shadow: 0px 0px 12px 4px lightblue;
        box-shadow: 0px 0px 12px 4px lightblue;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        .checkbox_inner_wrapper {
          //border: 1px solid black;
          display: flex;
          padding: 10px;
          input {
            box-shadow: none;
            width: 20px;
          }
          label {
            font-size: 2rem;
            width: fit-content;
            margin-left: 5px;
          }
        }
      }
    }
    @include xl {
      @include profile_padding();
      width: 144rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: flex;
      p {
        font-size: 1.8rem;
      }
      h1 {
        font-size: 2.4rem;
      }
    }
    .column_left {
      flex: 1;
      margin-right: 12.9rem;
      p {
        padding-left: 1rem;
      }
    }
    .column_right {
      flex: 1;
      width: 40.2rem;
    }
  }
}
.about_info {
  .not_hovering {
    display: none;
  }
}

.info_top {
  //background-color: blueviolet;
  display: flex;
  margin-top: 5vh;
  h2 {
    //border: 1px solid black;
    width: fit-content;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .map_pin_icon {
    width: 20px;
    position: relative;
    top: -5px;
    left: 5px;
  }
}
.info_bottom {
  .info_content {
    position: relative;
    .saved_text_container {
      position: relative;
      width: fit-content;
      p {
        //border: 2px solid black;
        width: fit-content;
        min-width: 400px;
        font-size: 2rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
      }
      .edit_icon {
        position: absolute;
        right: -30px;
        width: 20px;
      }

      .contact_svg_p_container {
        display: flex;
        .contact_icon {
          position: relative;
          top: -4px;
          width: 20px;
          //border: 2px black solid;
        }
      }
      .saved_text_content {
        cursor: pointer;
        padding: 10px;
        &:hover {
          border-radius: 10px;
          -webkit-box-shadow: 0px 0px 12px 4px lightblue;
          -moz-box-shadow: 0px 0px 12px 4px lightblue;
          box-shadow: 0px 0px 12px 4px lightblue;
        }
      }
    }

    .save_changes {
      cursor: pointer;
      &:hover {
        color: blue;
      }
    }
  }
}

// ***** PRODUCTS STYLING **** //
.products_container {
  @include xl {
    background-color: $cotton-candy;
  }
}
.products_wrapper {
  @include xl {
    @include profile_padding();
    margin: 0 auto;
    width: 144rem;
    h1 {
      font-size: 2.4rem;
      margin-bottom: 3.3rem;
    }
  }
}

.vendor_product_list_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.products_card_wrapper {
  @include xl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .products_card {
      width: 14.6rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      .image {
        cursor: pointer;
        //width: 14.6rem;
        //height: 12.2rem;
        object-fit: cover;
        border-radius: 0.3rem;
      }
      .name {
        font-size: 1.4rem;
        margin-top: 1.4rem;
      }
      .price {
        font-size: 1.4rem;
      }
    }
  }
}

// ***** BULLETIN CONTAINER ***** //
.bulletin_container {
  @include xl {
  }
}
.bulletin_header {
  @include xl {
    margin: 0 auto;
    width: 144rem;
    padding-top: 9.8rem;
    padding-left: 18.5rem;
    h1 {
      font-size: 2.4rem;
      margin-bottom: 4.9rem;
    }
  }
}
.bulletin_wrapper {
  @include xl {
    @include profile_padding();
    padding-top: 0rem;
    padding-left: 19.5rem;
    margin: 0 auto;
    width: 126rem;
    .bulletin_posts {
      p {
        font-size: 1.8rem;
        margin-left: 16rem;
        margin-top: 7.8rem;
        margin-bottom: 7.8rem;
      }
    }
    .line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      p {
        font-size: 1.8rem;
        margin-left: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
      hr {
        width: 86%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 0.1em;
      }
    }
  }
}
