//import mixin file
@import './mixins';

.container {
  @include display();
  background: url('../../assets/meditate_girl.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% auto;
  height: 100vh;
}


.form {
  p {
    padding: 10px;
  }
  a {
    color: #00b2ed;
  }
  span {
    font-size: 2rem;
    margin: 7px;
  }
  //include our styles from mixin
  @include display();
  input {
    @include form_input();
  }
  .next_button {
    @include next_button();
  }
  .cancel_button {
    @include cancel_button();
  }
  color: #00b2ed;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  width: 500px;
  margin: 50px;
  label {
    margin: 10px;
    color: black;
  }
}
.streetAddress {
  display: flex;
  flex-direction: column;
  border: 1px solid #00b2ed;
  border-radius: 7px;
  width: 462px;
  margin: 10px;
  input {
    @include form_input();
  }
}

.city_zip_container {
  display: flex;
  justify-content: space-between;
  .city_zip {
    input {
      width: 219px;
    }
  }
}
