@import './mixins.scss';

.navbar {
	width: 100%;
}
.container {
	@include xl {
		width: 144rem;
		margin: 0 auto;

		p {
			font-size: 2.4rem;
		}
	}
}
.wrapper {
	@include xl {
		padding: 8rem 8rem 8rem 8rem;
		background-color: red;
	}
}

.payment_container {
	@include xl {
		background-color: blue;
	}
}
