@media (min-width: 1440px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 1rem;
    max-width: 100%;
    overflow: auto;
    z-index: 1010;
    background-color: white;
    min-height: 50rem;
  }
}

.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1440px) {
  .column_left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
  .column_right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .row input {
    border: 0.2rem solid #00b2ed;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .row h1 {
    font-size: 4rem;
    margin-bottom: 0rem;
  }
  .row h2 {
    text-align: justify;
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .row h3 {
    font-size: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 1rem;
  }
}

@media (min-width: 1440px) {
  .row_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .row_price h1 {
    font-size: 4rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 1440px) {
  .row_quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1rem;
    position: fixed;
    bottom: 10rem;
    float: right;
    right: 3rem;
  }
  .row_quantity h3 {
    font-size: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 1rem;
  }
  .row_quantity input {
    border: 0.2rem solid #00b2ed;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.tags {
  width: 100%;
}

@media (min-width: 1440px) {
  .tags ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0rem;
    margin: 0rem;
  }
  .tags li {
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1.4rem;
    border: 0.2rem solid #e1f6fa;
    border-radius: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 1440px) {
  .button_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 45%;
  }
  .button_wrapper .button_left {
    width: 50%;
    margin-right: 2rem;
  }
  .button_wrapper .button_right {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .change_vendor_container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100rem;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 100%;
    overflow: auto;
    z-index: 1010;
    background-color: white;
    min-height: 30rem;
  }
}
/*# sourceMappingURL=browseModal.module.css.map */