.container {
  background-color: white;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 3% 10% 5%;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 15%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .close_x {
  color: red;
  font-size: 3rem;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.container .all_saved_popup {
  background-color: #fffefe;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  top: 0;
  left: 0;
}

.container .all_saved_popup h3 {
  position: relative;
  top: 40%;
}

.container .all_saved_popup span {
  font-weight: bolder;
}

.container .all_saved_popup i {
  color: #26a042;
}

.container .confirm_close_popup {
  background-color: #fffefe;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}

.container .confirm_close_popup .confirm_close_popup_info {
  position: relative;
  top: 40%;
}

.container .confirm_close_popup .confirm_close_popup_info button {
  margin-right: 20px;
}

.container .confirm_close_popup .confirm_close_popup_info h3 {
  margin-bottom: 50px;
}

.container .confirm_close_popup .confirm_close_popup_info span {
  font-weight: bolder;
}

.container .confirm_close_popup .confirm_close_popup_info i {
  color: #dc3545;
}

.inner_container {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}

/* ======= .edit_product_left =========== */
.edit_product_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* ==== .left_uppper_container */
  /* end .left_upper_container */
  /* ===== .btn_container ===== */
  /* end .btn_container */
}

.edit_product_left .left_upper_container {
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edit_product_left .left_upper_container h1 i {
  color: green;
}

.edit_product_left .left_upper_container .add_image_btns {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 0 10px 10px 0;
}

.edit_product_left .left_upper_container .add_image_btns .product_image_placeholder {
  width: 150px;
  height: 150px;
}

.edit_product_left .left_upper_container .add_image_btns .image_upload_icon {
  position: absolute;
  bottom: 0;
  right: 3px;
}

.edit_product_left .left_upper_container .images_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edit_product_left .left_upper_container .images_container .image_wrapper {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

.edit_product_left .left_upper_container .images_container .image_wrapper i {
  color: red;
  font-size: 2rem;
  position: absolute;
  left: 90%;
  cursor: pointer;
}

.edit_product_left .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

@media (min-width: 320px) {
  .edit_product_left .btn_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .edit_product_left .btn_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.edit_product_left .btn_container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px;
}

.edit_product_left .btn_container .finished_editing_btn {
  border: 3px solid #21b7b7;
  background-color: #21b7b7;
  color: #fef2e4;
  cursor: pointer;
}

.edit_product_left .btn_container .finished_editing_btn:hover {
  background-color: whitesmoke;
  color: #21b7b7;
}

.edit_product_left .btn_container .delete_product_btn {
  border: 3px solid #e92323;
  color: #e92323;
  cursor: pointer;
}

.edit_product_left .btn_container .delete_product_btn:hover {
  background-color: #e92323;
  color: white;
}

/* END .edit_product_left */
/* ===== edit_product_right ============== */
/* ===== edit_product_right ============== */
/* ===== edit_product_right ============== */
/* ===== edit_product_right ============== */
.edit_product_right {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.edit_product_right h4 {
  cursor: pointer;
  color: #fd7e14;
  font-weight: bolder;
  border: 1px solid grey;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

.edit_product_right i {
  font-size: 2rem;
  cursor: pointer;
}

.edit_product_right .details_saved_popup {
  background-color: #fffefe;
  display: block;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.edit_product_right .details_saved_popup h3 {
  position: relative;
  margin-top: 22%;
}

.edit_product_right .details_saved_popup h3 i {
  color: #26a042;
}

.edit_product_right .details_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.edit_product_right .details_container .details_wrapper .input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.edit_product_right .details_container .details_wrapper .input_wrapper label {
  font-size: 1.4rem;
  color: #2b3335;
}

.edit_product_right .details_container .details_wrapper .input_wrapper p {
  font-size: 1.8rem;
}

.edit_product_right .details_container .details_wrapper .diet_category_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edit_product_right .details_container .details_wrapper .diet_category_container p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit_product_right .edit_product_form .input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.edit_product_right .edit_product_form .input_wrapper label {
  font-size: 1.4rem;
  color: #2b3335;
}

.edit_product_right .edit_product_form .input_wrapper input {
  border-radius: 10px;
  border: 1px solid rgba(43, 51, 53, 0.5);
  height: 32px;
  width: 214px;
  font-size: 1.8rem;
  padding: 1% 0 1% 3%;
}

.edit_product_right .edit_product_form .input_wrapper textarea {
  border-radius: 10px;
  border: 1px solid rgba(43, 51, 53, 0.5);
  height: 100px;
  width: 214px;
  font-size: 1.8rem;
  padding: 1% 0 1% 3%;
}

.edit_product_right .edit_product_form .input_wrapper select {
  border-radius: 10px;
  border: 1px solid rgba(43, 51, 53, 0.5);
  height: 32px;
  width: 214px;
  font-size: 1.8rem;
  padding: 1% 0 1% 3%;
}

.edit_product_right .edit_product_form .input_wrapper .checkbox_input {
  height: 15px;
}

/* end edit_product_right */
.vendor_product_btn_group button {
  width: 30%;
  height: 10%;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  padding: 1% 0;
}

.vendor_product_btn_group .cancel {
  border: 3px solid #e92323;
  color: #e92323;
  cursor: pointer;
}

.vendor_product_btn_group .cancel:hover {
  /* border: 3px solid white; */
  background-color: #e92323;
  color: white;
}

.vendor_product_btn_group .save {
  border: 3px solid #21b7b7;
  background-color: #21b7b7;
  color: #fef2e4;
  cursor: pointer;
}

.vendor_product_btn_group .save:hover {
  background-color: whitesmoke;
  color: #21b7b7;
}
/*# sourceMappingURL=editingProduct.module.css.map */