@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
a {
  color: white;
}

.vendorButton a:hover {
  text-decoration: none;
  color: white;
}

.customerButton a:hover {
  text-decoration: none;
  color: white;
}

.landingContainer {
  width: 100%;
  margin: auto;
}

@media (min-width: 320px) {
  .landingContainer {
    padding: 0px;
  }
}

.landingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) {
  .heroContainer {
    background-image: none;
    background-color: #00b2ed;
    background-image: url("../../assets/images/landing/images/hero-banner320.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .heroContainer {
    width: 100%;
    min-height: 980px;
    background-image: url("../../assets/images/landing/images/hero-banner.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
  }
}

.hero-banner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1238px;
}

@media (min-width: 320px) {
  .hero-banner {
    width: 100vw;
  }
}

.hero-banner img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (min-width: 320px) {
  .landingInfo {
    font-size: 1.2rem;
    padding: 20px;
    margin: 0px;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .landingInfo {
    width: 483px;
    height: 369px;
    /* or 62px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
    margin-top: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fef2e4;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 155%;
  }
}

@media (min-width: 320px) {
  .button-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: block;
  }
}

@media (min-width: 320px) {
  .vendorButton {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  .vendorButton {
    width: 302px;
    height: 57px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 193.5%;
    color: #fef2e4;
    background-color: #e92324;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.vendorButton:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.customerButton {
  width: 302px;
  height: 57px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 193.5%;
  color: #e92324;
  border: 1px solid red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.customerButton:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
          box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media (min-width: 320px) {
  .marketing-Container {
    width: 100vw;
    background-color: #00b2ed;
  }
}

@media (min-width: 1024px) {
  .marketing-Container {
    background-color: #00b2ed;
    margin: auto;
    width: 98%;
    border-radius: 10px;
  }
}

@media (min-width: 320px) {
  .marketing-box-top-row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .marketing-box-top-row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
  }
}

@media (min-width: 320px) {
  .marketing-box-top-row h1 {
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .marketing-box-top-row h1 {
    color: #fff;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 166.86%;
    width: 30%;
    float: left;
  }
}

@media (min-width: 320px) {
  .marketing-box-mobile {
    display: block;
  }
}

@media (min-width: 1024px) {
  .marketing-box-mobile {
    display: none;
  }
}

@media (min-width: 320px) {
  .marketing-box-top-row-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  .marketing-box-top-row-btn {
    background: #e92323;
    border-radius: 5px;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    float: right;
    padding: 15px;
    cursor: pointer;
    display: block;
  }
}

.marketing-box-top-row-btn:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

@media (min-width: 320px) {
  .marketing-box-bottom-row {
    display: none;
  }
}

@media (min-width: 1024px) {
  .marketing-box-bottom-row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: block;
    font-size: 1rem;
  }
}

.marketing-box-bottom-row-card-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.marketing-box-bottom-row-card-wrapper img {
  max-width: 100%;
}

@media (min-width: 320px) {
  .marketing-Header {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #00b2ed;
  }
}

@media (min-width: 1024px) {
  .marketing-Header {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 320px) {
  .works-card-wrapper {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .works-card-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

.works-image {
  max-width: 100%;
}

.works-image img {
  width: 100%;
}

@media (min-width: 320px) {
  .works-content {
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 118, 157, 0.1);
    font-size: 0.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #000000;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .works-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1rem;
    height: 258px;
  }
}

.works-content p {
  padding: 20px;
}

@media (min-width: 320px) {
  .carousel-container {
    width: 100%;
    height: 170px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    height: calc(100% * 4.5);
  }
}

.carousel-container img {
  max-width: 100%;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: transparent !important;
}

.carousel .slide .content {
  position: absolute;
  bottom: 45px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=landing.css.map */