.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) {
  .container {
    background-color: #00b2ed;
    width: 100vw;
    padding-top: 2rem;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .container {
    background-color: #00b2ed;
    padding-top: 0rem;
  }
}

@media (min-width: 992px) {
  .container {
    background: url("../../assets/images/Register/meditate_girl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .container {
    background: url("../../assets/images/Register/meditate_girl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 320px) {
  .wrapper {
    margin: 0 auto;
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 10vw;
  }
}

@media (min-width: 992px) {
  .wrapper {
    margin: 0;
    width: 36vw;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 33vw;
  }
}

.form h1 {
  font-size: 4rem;
}

@media (min-width: 320px) {
  .form h1 {
    font-size: 1.4rem;
    margin: 0ren;
    color: #fff;
    text-align: center;
  }
  .form p {
    padding: 0px;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
  }
  .form label {
    color: white;
  }
  .form a {
    color: #fff;
    margin-left: .5rem;
  }
  .form input {
    border: 0.1rem solid #00b2ed;
    border-radius: 0.4rem;
    padding: 2rem;
    width: 100%;
    margin: 0px;
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .form {
    padding: 1rem;
    width: 90vw;
  }
  .form h1 {
    font-size: 3rem;
  }
  .form p {
    padding: 0px;
    color: #fff;
    font-size: 1.5rem;
  }
  .form input {
    border: 0.1rem solid #00b2ed;
    border-radius: 0.4rem;
    padding: 2rem;
    width: 100%;
  }
  .form .errorMessage {
    font-size: 0.8rem;
    color: red;
  }
}

@media (min-width: 992px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-left: 2vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form h1 {
    font-size: 3rem;
    color: #00b2ed;
    text-align: left;
  }
  .form p {
    padding: 0px;
    color: black;
    font-size: 1.6rem;
    text-align: left;
  }
  .form input {
    border: 0.1rem solid #00b2ed;
    border-radius: 0.4rem;
    padding: 2rem;
    width: 100%;
  }
  .form label {
    color: black;
    font-size: 1.6rem;
  }
  .form .errorMessage {
    font-size: 1.2rem;
    color: red;
  }
  .form a {
    color: #00b2ed;
  }
}

@media (min-width: 1440px) {
  .form h1 {
    font-size: 4rem;
    margin: 0ren;
    color: #00b2ed;
    text-align: left;
  }
  .form p {
    padding: 0rem;
    color: black;
    font-size: 2rem;
    text-align: left;
  }
  .form label {
    font-size: 1.8rem;
  }
  .form a {
    color: #00b2ed;
  }
  .form input {
    border: 0.1rem solid #00b2ed;
    border-radius: 0.4rem;
    padding: 2rem;
    margin: 0px;
    width: 31vw;
  }
}

.streetAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #00b2ed;
  border-radius: 7px;
  width: 462px;
  margin: 10px;
}

.streetAddress input {
  border: 0.1rem solid #00b2ed;
  border-radius: 0.4rem;
  padding: 2rem;
}

.city_zip_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.city_zip_container .city_zip input {
  width: 219px;
}

.radio_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio_buttons input[type='radio'] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  width: 24px;
}
/*# sourceMappingURL=registration.module.css.map */